//==============================================================================
// Fonts
//==============================================================================
$root-font-size: 16px;
$font-family-base: 'Poppins-Regular', sans-serif;
$font-family-light: 'Poppins-Light', sans-serif;
$font-family-medium: 'Poppins-Medium', sans-serif;
$font-family-semi-bold: 'Poppins-SemiBold', sans-serif;
$font-family-bold: 'Poppins-Bold', sans-serif;

//==============================================================================
// Breakpoints
//==============================================================================
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1399px;
$breakpoint-x-large: 1439px;

//==============================================================================
// Colors
//==============================================================================
$primary-base: #ffffff;
$secondary-base: #48465b;

$primary-background: #efeff5;
$secondary-background: #f9f9fc;
$tertiary-background: #edeefd;
$quarternary-background: #e8e9fa;

$primary-color: #4d5cf2;
$secondary-color: #f93576;
$tertiary-color: #2c1b9b;
$quaternary-color: #090a29;

$primary-fade-color: rgba(0, 0, 0, 0.2);
$secondary-fade-color: #42447f;
$tertiary-fade-color: #191a43;

$primary-border-color: #ebedf2;
$secondary-border-color: #e7e8f4;

$primary-shadow-color: rgba(0, 0, 0, 0.2);
$secondary-shadow-color: rgba(82, 63, 105, 0.05);
