.app-sub-header {
  grid-area: 2 / 1 / 3 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: $secondary-background;
  box-shadow: 0 2px 15px 0 $tertiary-shadow-color;

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    h1 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
    }
  }

  &__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-item {
      margin: 0 0.25rem;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      background-color: $quarternary-background;
      color: $primary-color;
    }
  }

  @media (min-width: $breakpoint-medium + 1) {
    & {
      grid-area: 3 / 2 / 4 / 4;
    }
  }

  @media (min-width: $breakpoint-large) {
    & {
      grid-area: 3 / 2 / 4 / 5;
    }
  }
}
